* {
  box-sizing: border-box;
}

.frame1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  padding: 96px 783px 1033px 413px;
  width: 1253px;
  height: 1131px;

  .autoWrapper8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1253px;
    height: 1131px;

    .rectangle4 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 40px;
      background: #ffffff;
      padding: 24px 58px 195px 59px;
      width: 1253px;
      height: 1131px;

      .a02 {
        line-height: 49px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 36px;
      }

      .a15 {
        line-height: 49px;
        letter-spacing: 0;
        color: #000000;
        font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 36px;
      }

      .rectangle25 {
        display: flex;
        align-items: flex-start;
        border-radius: 10px;
        background: #d9d9d9;
        padding: 38px 48px 13px 13px;
      }

      .rectangle20 {
        display: flex;
        align-items: flex-start;
        margin-left: 53px;
        border-radius: 10px;
        background: #d9d9d9;
        padding: 38px 50px 13px 13px;
      }

      .autoWrapper {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;

        .september2025 {
          margin: 37px 0px 0px;
          line-height: 59px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 43px;
        }

        .ellipse1 {
          display: flex;
          align-items: center;
          border-radius: 50%;
          background: #d9d9d9;
          padding: 9px 12px 10px 14px;

          .user {
            width: 39px;
            height: 47px;
          }
        }
      }

      .autoWrapper2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 22px;
        padding-right: 193px;
        padding-left: 7px;

        .mo {
          width: 33px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .tu {
          margin: 0px 0px 0px 123px;
          width: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .we {
          margin: 0px 0px 0px 115px;
          width: 33px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .th {
          margin: 0px 0px 0px 128px;
          width: 30px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .fr {
          margin: 0px 0px 0px 131px;
          width: 23px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .sa {
          margin: 0px 0px 0px 124px;
          width: 26px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .so {
          margin: 0px 0px 0px 114px;
          width: 27px;
          letter-spacing: 0;
          color: #000000;
          font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .autoWrapper3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 22px;
        padding-right: 120px;
        padding-left: 1px;

        .rectangle3 {
          display: flex;
          align-items: flex-start;
          border-radius: 10px;
          padding: 47px 58px 6px 13px;
          background-image: url(../image/mf882ua3-mvg8oar.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .a01 {
            line-height: 47px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 34px;
          }
        }

        .rectangle5 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 38px 48px 13px 15px;
          background-image: url(../image/mf882ua3-s7tacma.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle6 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 38px 53px 13px 10px;
          background-image: url(../image/mf882ua3-2w01q7v.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle7 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 38px 47px 13px 15px;
          background-image: url(../image/mf882ua3-tln2lq8.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle8 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 38px 47px 13px 16px;
          background-image: url(../image/mf882ua3-ay2as9q.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle9 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 38px 50px 13px 13px;
          background-image: url(../image/mf882ua3-qqjhxsr.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle10 {
          display: flex;
          align-items: flex-start;
          margin-left: 50px;
          border-radius: 10px;
          padding: 38px 51px 13px 13px;
          background-image: url(../image/mf882ua3-tln2lq8.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .autoWrapper4 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 60px;
        padding-right: 119px;
        padding-left: 2px;

        .rectangle11 {
          display: flex;
          align-items: flex-start;
          border-radius: 10px;
          padding: 45px 51px 6px 13px;
          background-image: url(../image/mf882ua3-gdkd3rj.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle17 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 45px 48px 6px 15px;
          background-image: url(../image/mf882ua3-vq7w25b.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle16 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 45px 59px 6px 10px;
          background-image: url(../image/mf882ua3-qqjhxsr.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle15 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          padding: 45px 60px 6px 15px;
          background-image: url(../image/mf882ua3-ay2as9q.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .rectangle14 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 45px 52px 6px 16px;
        }

        .rectangle13 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 45px 55px 6px 13px;
        }

        .rectangle12 {
          display: flex;
          align-items: flex-start;
          margin-left: 50px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 45px 55px 6px 13px;
        }
      }

      .autoWrapper5 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 59px;
        padding-right: 120px;
        padding-left: 1px;

        .rectangle18 {
          display: flex;
          align-items: flex-start;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 50px 56px 1px 12px;
        }

        .rectangle24 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 45px 53px 6px 15px;
        }

        .rectangle23 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 45px 59px 6px 11px;
        }

        .rectangle22 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 45px 54px 6px 15px;
        }

        .rectangle21 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 52px 13px 16px;
        }

        .rectangle19 {
          display: flex;
          align-items: flex-start;
          margin-left: 50px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 55px 13px 13px;
        }
      }

      .autoWrapper6 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 62px;
        padding-right: 114px;
        padding-left: 7px;

        .rectangle31 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 46px 13px 15px;
        }

        .rectangle30 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 51px 13px 10px;
        }

        .rectangle28 {
          display: flex;
          align-items: flex-start;
          margin-left: 53px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 46px 13px 16px;
        }

        .rectangle26 {
          display: flex;
          align-items: flex-start;
          margin-left: 50px;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 50px 13px 13px;
        }
      }

      .autoWrapper7 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 59px;
        padding-right: 723px;
        padding-left: 7px;

        .rectangle34 {
          display: flex;
          align-items: flex-start;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 48px 13px 15px;
        }

        .rectangle33 {
          display: flex;
          align-items: flex-start;
          border-radius: 10px;
          background: #d9d9d9;
          padding: 38px 57px 13px 11px;
        }
      }
    }

    .september20252 {
      position: absolute;
      top: 61px;
      left: 59px;
      width: 307px;
      height: 59px;
      line-height: 59px;
      letter-spacing: 0;
      color: #000000;
      font-family: "DM Serif Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 43px;
    }
  }

  .autoWrapper11 {
    display: flex;
    position: relative;
    align-items: center;
    align-self: stretch;

    .autoWrapper9 {
      position: relative;
      width: 25px;
      height: 2px;

      .line1 {
        position: absolute;
        bottom: -1px;
        left: -17px;
        background: #000000;
        width: 24px;
        height: 2px;
        rotate: 132deg;
      }

      .line2 {
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        width: 25px;
        height: 2px;
        rotate: -137deg;
      }
    }

    .autoWrapper10 {
      position: relative;
      margin-left: 8px;
      width: 25px;
      height: 2px;

      .line3 {
        position: absolute;
        top: -1px;
        right: -17px;
        background: #000000;
        width: 24px;
        height: 2px;
        rotate: -48deg;
      }

      .line4 {
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        width: 25px;
        height: 2px;
        rotate: 43deg;
      }
    }
  }
}
